{% extends 'AppCoder/padre.html' %}

{% load static %}



{% block titulo %}

<h3>Acerca de mi</h3>

{% endblock %}



{% block PaginaWeb %}

<h1>Acerca de Nosotros</h1>

<p><img src="/media/1.jpeg" height="400px"/>         
<h3>Matias Pedro Lorenzati:</h3>  
34 años. Vive en la ciudad de Córdoba. Está cursando el curso de python en Coder House, comisión 26350. 
Actualmente se desempeña en el área de sistemas del Tribunal Interdiocesano de Córdoba. Correo electrónico: tlorenzati@hotmail.com
<br>
<br>
<br>
<br>
<img src="/media/3.jpeg" height="400px"/>
<h3>Miguel Iribarren:</h3> 
29 años. Vive en la ciudad de Santiago, Chile. Está cursando el curso de python en Coder House, comisión 26350. 
Actualmente se desempeña como Analista de Gestión de Control en una empresa. Correo electrónico: miguel.iribarren@gmail.com
<br>
<br>
<br>
<br>
<img src="/media/2.jpeg" height="400px"/>
<h3>Maximiliano Settecerze:</h3> 
33 años. Vive en la ciudad de Buenos Aires. Está cursando el curso de python en Coder House, comisión 26350. 
Actualmente se desempeña como Analista de Logística en una empresa. Correo electrónico: settecerze.maxi@gmail.com
​<p>

{% endblock %}