{% extends 'AppCoder/padre.html' %}

{% load static %}



{% block titulo %}

<h3>Acerca de mi</h3>

{% endblock %}



{% block PaginaWeb %}

<h1>Acerca de Nosotros</h1>
<img src="/media/1.jpeg" height="400px"/>
<p>         
<h3>Matias Pedro Lorenzati:</h3>  
34 años. Vive en la ciudad de Córdoba. Está cursando el curso de python en Coder House, comisión 26350. 
Actualmente se desempeña en el área de sistemas del Tribunal Interdiocesano de Córdoba. Correo electrónico: tlorenzati@hotmail.com
<br>
<br>
<h3>Miguel Iribarren:</h3> 

<br>
<h3>Maximiliano Settecerze:</h3> 
​<p>

{% endblock %}